@media print {
  body * {
    visibility: hidden;
  }

  .receiptContainer,
  .receiptContainer * {
    visibility: visible;
  }

  .receiptContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}